do_splitting=true
do_pondering=true
do_levenshtein=false
do_pca=false
do_concat=false
matrix="/home/asa/Bioenonas/Pro/IFV/Montpellier/Bouleau/Bioinfo/DataAnalysis/Genetics/Test_data/Petit_Verdot/PV_matrix_10_percent.tsv"
reads_count="/home/asa/Bioenonas/Pro/IFV/Montpellier/Bouleau/Bioinfo/DataAnalysis/Genetics/Test_data/Petit_Verdot/reads_counts_petits_verdots_concatenated.txt"
names="/home/asa/Bioenonas/Pro/IFV/Montpellier/Bouleau/Bioinfo/DataAnalysis/Genetics/Test_data/Petit_Verdot/list_lines_petits_verdots_unique.txt"
split_factor=10 # In how many chunks you want the matrix to be cut - size of chunks shouldn't exceed 5GB
sep="\t" # Field separator of all files - change only if you don't use the .tsv format

# ------ Pondering parameters ------
round=2 # number of values after comma
remove_specific=False # remove kmer counted in only one individual

# ------ Levenshtein parameters ------
a_percentage=32.5 # A base percentage in the reference genome
t_percentage=32.5 # T base percentage in the reference genome
c_percentage=17.5 # C base percentage in the reference genome
g_percentage=17.5 # G base percentage in the reference genome
len_kmer=21 # length of kmer observed
p_value=0.05 # for threshold selection

# ------ PCA parameters ------
n_components=10
n_loadings=50